找出pd中不同的列

In [2]:
import pandas as pd
import numpy as np

In [3]:
data={'a':np.arange(10),'b':np.arange(10,20),'c':np.arange(20,30),'d':np.arange(30,40)}
df=pd.DataFrame(data)

In [4]:
df.head()

   a   b   c   d
0  0  10  20  30
1  1  11  21  31
2  2  12  22  32
3  3  13  23  33
4  4  14  24  34

In [5]:
_a=df.columns.difference(['a'])
_a

Index(['b', 'c', 'd'], dtype='object')

以上代码可以获得非a的列名

In [7]:
_ab=df.columns.difference(['a','b'])
_ab

Index(['c', 'd'], dtype='object')

In [10]:
cols=df.columns
cols

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
__a=[]
for i in cols:
    if i != 'a':
        __a.append(i)

__a

['b', 'c', 'd']